.item {
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	max-height: 700px;
}

.hide {
	pointer-events: none;
	max-height: 0;
	color: blue;
}

.wrapper {
	@include table-row;

	> div {
		display: flex;
		align-items: center;
		width: 100%;
	}
}

.input input {
	color: $basic-text;
	padding: 10px 14px;
	box-shadow: 0 0 0 1px $gray;
	transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

	&:focus {
		box-shadow: 0 0 0 1px $active-blue;
	}

	&:hover {
		box-shadow: 0 0 0 1px $dark-gray;
	}
}

.disabled {
	.input {
		pointer-events: none;

		input {
			color: $gray;
			box-shadow: 0 0 0 1px $muted-gray;
		}
	}
}
