$white: rgb(255, 255, 255);
$light-gray: rgb(224, 224, 224);
$muted-gray: rgb(196, 196, 196);
$gray: rgb(153, 153, 153);
$dark-gray: rgba(0, 0, 0, 0.8);
$active-blue: rgb(0, 128, 255);
$muted-blue: rgb(111, 126, 140);

$main-background: $white;
$basic-text: $dark-gray;
